*
!JavaScript
!JavaScript/**/*
!JavaScript/*

!HTML
!HTML/**/*
!HTML/*

!SCSS
!SCSS/**/*
!SCSS/*

!CSS
!CSS/*
!CSS/**/*

!ntz
!ntz/*

!php
!php/*
!php/**/*

!.gitignore

!readme.md
!User
!User/*
!User/**/*

User/Package Control.ca-bundle
User/Package Control.ca-list
User/Package Control.last-run
User/Package Control.cache

User/Gist.sublime-settings

User/subclrschm.exe
User/subclrschm.log
User/ColorSchemeEditorTemp/

User/codeivate-st.sublime-settings
User/GitHub.sublime-settings

User/swi.sublime-settings

old/
User/desktop.ini

User/MarkdownPreview.sublime-settings

User/SublimeGit.sublime-settings

User/ChangeList.json
